head( lang="es", xml:lang="es")
	title #{titulo}
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=no")

	//- script
	script.
		var b = document.documentElement; var isInIFrame = (window.location != window.parent.location); b.className = b.className.replace('no-js', 'js'); b.setAttribute("data-useragent",  navigator.userAgent); b.setAttribute("data-vendor",  navigator.vendor); b.setAttribute("data-platform", navigator.platform );if(! /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){b.setAttribute("data-type", 'desktop' );} else{ b.setAttribute("data-type", 'mobile' );} if(isInIFrame == true){ b.setAttribute("data-xFrame", 'iframeTop' );} else if(navigator.userAgent.indexOf('Version') === -1){ b.setAttribute("data-xFrame", 'webView' );}

	//- metatags
	meta(name="Description", content="#{descrip}")
	meta(name="Keywords", content="#{keyword}")
	
	//- apple apps metatags
	meta(name='apple-mobile-web-app-capable', content="yes")
	meta(name='apple-mobile-web-app-status-bar-style', content="black-translucent")
	meta(name="theme-color" content="#39E6CC")

	//-  PWA tags
	link(rel="manifest" href="recursos_mobile/manifest.json?Ver=#{version}")

	//- preload de recursos
	link(rel="preload" as="style" href="css/styles.css?Ver=#{version}")
	link(rel="preload" as="script" href="js/app.js?Ver=#{version}")
	link(rel="preload" as="script" href="js/jquery.min.js")
	link(rel="preload" as="script" href="js/axios.min.js")
	link(rel="preload" as="script" href="js/script.min.js?Ver=#{version}")

	//- preconeccion a servidores
	link(rel="preconnect dns-prefetch" crossorigin="" href="https://www.google.com.mx/")
	link(rel="preconnect dns-prefetch" crossorigin="" href="https://www.google.com/")
	link(rel="preconnect dns-prefetch" crossorigin="" href="https://analytics.google.com/")
	link(rel="preconnect dns-prefetch" crossorigin="" href="https://www.googletagmanager.com/")
	link(rel="preconnect dns-prefetch" crossorigin="" href="https://www.gstatic.com/")
	link(rel="preconnect dns-prefetch" crossorigin="" href="https://firebase.google.com/")
	
	//- iconos
	link(rel="shorcut icon", href="recursos_mobile/img/favicon.ico")
	link(rel="shorcut icon", href="recursos_mobile/img/favicon.png")
	link(rel="apple-touch-icon", href="recursos_mobile/img/icon-touch.png")
	link(rel="apple-touch-icon", sizes="72x72", href="recursos_mobile/img/icon-touch-72.png")
	link(rel="apple-touch-icon", sizes="96x96", href="recursos_mobile/img/icon-touch-96.png")
	link(rel="apple-touch-icon", sizes="114x114", href="recursos_mobile/img/icon-touch-114.png")
	link(rel="apple-touch-icon", sizes="144x144", href="recursos_mobile/img/icon-touch-144.png")
	link(rel="apple-touch-icon", sizes="168x168", href="recursos_mobile/img/icon-touch-168.png")
	link(rel="apple-touch-icon", sizes="192x192", href="recursos_mobile/img/icon-touch-192.png")
	link(rel="apple-touch-icon", sizes="256x256", href="recursos_mobile/img/icon-touch-256.png")
	link(rel="apple-touch-icon", sizes="512x512", href="recursos_mobile/img/icon-touch-512.png")
	
	//- styles
	link(rel="stylesheet", href="css/styles.css?Ver=#{version}", type="text/css")

	if(Stage === 'prod')
		script.
			(function(c,e,f,k,g,h,b,a,d){c[g]||(c[g]=h,b=c[h]=function(){ b.q.push(arguments)},b.q=[],b.l=1*new Date,a=e.createElement(f),a.async=1, a.src=k,a.setAttribute("crossorigin", "anonymous"),d=e.getElementsByTagName(f)[0], d.parentNode.insertBefore(a,d))})(window,document,"script", "https://eum.instana.io/eum.min.js","InstanaEumObject","ineum"); ineum('reportingUrl', 'https://eum-red-saas.instana.io'); ineum('key', 'fSn8aeg_QgisWUKwfTd71A'); ineum('trackSessions');

	else if(Stage === 'rc1')
		script.
			(function(c,e,f,k,g,h,b,a,d){c[g]||(c[g]=h,b=c[h]=function(){ b.q.push(arguments)},b.q=[],b.l=1*new Date,a=e.createElement(f),a.async=1, a.src=k,a.setAttribute("crossorigin", "anonymous"),d=e.getElementsByTagName(f)[0], d.parentNode.insertBefore(a,d))})(window,document,"script", "https://eum.instana.io/eum.min.js","InstanaEumObject","ineum"); ineum('reportingUrl', 'https://eum-red-saas.instana.io'); ineum('key', 'y4C-naxaTdKGR0XmsW9Vzg'); ineum('whitelistedOrigins', [/.*api\-rc1\.fcs\-monitoreo\.com.*/i]);

	script.
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-#{CodeGTM}');